<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>MacHu-GWU.github.jump2repo</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C63B26C-777C-44FA-BA1A-8A996803A18E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F1F338D-8FAA-444A-B0D0-2B11C7361908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sanhe Hu</string>
	<key>description</key>
	<string>Jump to GitHub Repository by Username and Repo Name</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jump to GitHub Repo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ghrepo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os
import sys
import json
from workflow import Workflow, web

github_v3_headers = dict(
    Accept="application/vnd.github.v3+json"
)


class QueryExecutor(object):
    token = "f3e50963caa04a95df279a10df1a270ab7a80387"
    endpoint = "https://api.github.com/search/repositories?q={query}+user:{username}&amp;access_token={token}"

    def __init__(self, username="", query=""):
        self.username = username
        self.query = query

    def encode_query(self, username, query):
        query = "+".join([s for s in query.split(" ") if s.strip()])
        return self.endpoint.format(query=query, username=username, token=self.token)

    def _encode_query(self):
        return self.encode_query(self.username, self.query)

    def parse_html(self, html):
        data = json.loads(html)
        repo_list = list()
        for item in data["items"][:10]:
            name = item["name"]
            url = item["html_url"]
            description = item["description"]
            repo_list.append((name, url, description))
        return repo_list


qe = QueryExecutor()


def main(wf):
    import requests

    # if len(wf.args) &gt;= 2:
    #     qe.username = wf.args[0]
    #     qe.query = wf.args[1]

    qe.username = "MacHu-GWU"
    qe.query = "crawlib"

    def get_data():
        url = qe._encode_query()
        response = requests.get(url, headers=github_v3_headers)
        return qe.parse_html(response.text)

    # url = qe._encode_query()
    # response = requests.get(url)
    # repo_list = qe.parse_html(response.text)

    repo_list = wf.cached_data("repo_list", get_data, max_age=2)

    for name, url, description in repo_list:
        wf.add_item(
            title=name,
            subtitle=description,
            arg=url,
            valid=True,
        )
    wf.send_feedback()


def test():
    import requests

    qe.query = "crawlib"
    qe.username = "MacHu-GWU"
    url = qe._encode_query()
    response = requests.get(url, headers=github_v3_headers)
    repo_list = qe.parse_html(response.text)
    assert len(repo_list) &gt;= 1
    print(repo_list)


if __name__ == "__main__":
    # test()
    wf = Workflow(
        libraries=["lib", ],
    )
    logger = wf.logger
    sys.exit(wf.run(main))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search GitHub Repo</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C63B26C-777C-44FA-BA1A-8A996803A18E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>3F1F338D-8FAA-444A-B0D0-2B11C7361908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>0C63B26C-777C-44FA-BA1A-8A996803A18E</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>3F1F338D-8FAA-444A-B0D0-2B11C7361908</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
